---
import Facebook from "../icons/Facebook.astro";
import GitHub from "../icons/GitHub.astro";
import Linkedln from "../icons/Linkedln.astro";
import Twitter from "../icons/Twitter.astro";
---

<footer class="py-6">
    <div class="mx-auto text-center">
        <p class="text-sm">
            &copy; 2025 Anderson VT. Todos los derechos reservados.
        </p>
        <div class="mt-4 flex justify-center space-x-6">
            <GitHub
                class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-colors"
            />
            <Facebook
                class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-colors"
            />
            <Linkedln
                class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-colors"
            />
            <Twitter
                class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-colors"
            />
        </div>
    </div>
</footer>