---
import GitHub from "../icons/GitHub.astro";
import Facebook from "../icons/Facebook.astro";
import Linkedln from "../icons/Linkedln.astro";
import Twitter from "../icons/Twitter.astro";
import menu from "../icons/Menu.svg";
import Html from "../icons/Html.astro";
import Javascript from "../icons/Javascript.astro";
import React from "../icons/React.astro";
---

<div class="max-w-[1220px] mx-auto text-[#333333]">
	

	<!-- Hero Section -->
	<div class="min-h-[800px] flex items-center justify-center py-7 lg:py-0 p-5 lg:p-0">
		<div
			class="flex flex-col space-y-10 lg:flex-row lg:items-center w-full lg:gap-10"
		>
			<div>
				<h2 class="text-3xl font-bold lg:text-5xl">
					Soy Anderson, un Desarrollador Web
				</h2>
				<p class="text-xl font-light">
					Lorem ipsum dolor sit amet consectetur adipiscing elit leo
					quis ullamcorper quis id elementum convallis lacus gravida.
				</p>
				<div class="py-5">
					<button class="rounded-full p-5 bg-blue-800">T</button>
				</div>
			</div>

			<div>
				<div class="lg:w-1/2 ml-auto">
					<div>
						<div>
							<h3 class="text-2xl font-bold py-3 uppercase">
								Sobre mi
							</h3>
							<p class="text-xl font-light">
								Lorem ipsum dolor sit amet consectetur
								adipiscing elit leo quis ullamcorper quis id
								elementum convallis lacus gravida.
							</p>
						</div>
						<div class="py-8">
							<hr />
						</div>
						<div>
							<h3 class="text-2xl font-bold py-3 uppercase">
								Mi trabajo
							</h3>
							<p class="text-xl font-light">
								Purus ut faucibus pulvinar elementum integer
								enim neque fermentum iaculis eu non diam
								phasellus dolor consectur.
							</p>
						</div>
						<div class="py-8">
							<hr />
						</div>
					</div>
					<div>
						<h3 class="text-2xl font-bold py-3 uppercase">
							Redes Sociales
						</h3>
						<div class="flex space-x-5">
							<GitHub class="w-6 h-6 cursor-pointer" />
							<Facebook class="w-6 h-6 cursor-pointer" />
							<Linkedln class="w-6 h-6 cursor-pointer" />
							<Twitter class="w-6 h-6 cursor-pointer" />
						</div>
					</div>
					<div class="mx-auto mb-6 lg:mb-0 py-5">
						<img
							class="rounded-full size-50 mx-auto lg:hidden"
							src="/src/assets/mifoto.JPEG"
							alt="Anderson"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>
