---
import menu from "../icons/Menu.svg";
---

<nav class="lg:py-[36px]">
    <div class="lg:w-[1220px] mx-auto flex justify-between p-5 lg:p-0">
        <h1 class="text-3xl lg:text-lg cursor-pointer uppercase font-extrabold">
            Taway
        </h1>
        <ul class="hidden lg:flex gap-x-10 text-lg font-semibold">
            <li class="cursor-pointer">Home</li>
            <li class="cursor-pointer">Sobre Mi</li>
            <li class="cursor-pointer">Proyectos</li>
            <li class="cursor-pointer">Contáctame</li>
        </ul>

        <button class="lg:hidden" id="open-menu-button">
            <img src={menu.src} width="30px" alt="Icono de menú" />
        </button>
    </div>

    <!-- mobile menu -->
    <dialog
        class="z-50 max-h-full max-w-full size-full lg:hidden starting:-translate-x-full transition-(display) translate-x-0 duration-300 transition-discrete [&:not([open])]:-translate-x-full"
        id="mobile-menu"
        role="dialog"
        aria-modal="true"
    >
        <div class="z-10 overflow-y-auto bg-white px-6 py-6">
            <div class="flex items-center justify-between">
                <div class="flex flex-1">
                    <button
                        type="button"
                        id="close-menu-button"
                        class="-m-2.5 rounded-md p-2.5 text-gray-700"
                    >
                        <span class="sr-only">Cerrar Menú</span>
                        <svg
                            class="size-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                            data-slot="icon"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 18 18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mt-6 space-y-2">
                <a
                    href="/#info"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-[#FF0695]/10 hover:text-[#FF0695]"
                    >Home</a
                >
                <a
                    href="/#faq"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-[#FF0695]/10 hover:text-[#FF0695]"
                    >Sobre mi</a
                >
                <a
                    href="/hoja-de-responsabilidad.pdf"
                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-[#FF0695]/10 hover:text-[#FF0695]"
                    >Proyectos</a
                >
                <a
                    href="/#tickets"
                    class="border-primary-light bg-primary-light/20 -mx-3 block rounded-lg border px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-[#FF0695]/10 hover:text-[#FF0695]"
                    >Contáctame</a
                >
            </div>
        </div>
    </dialog>
</nav>

<script>
    // Get the menu elements
    const mobileMenu = document.getElementById("mobile-menu")
    const openMenuButton = document.getElementById("open-menu-button")
    const closeMenuButton = document.getElementById("close-menu-button")
    const mobileItems = mobileMenu?.querySelectorAll("a")
  
    const toggleMenu = () => {
      mobileMenu.open
        ? mobileMenu.close()
        : mobileMenu.showModal()
    }
  
    // Add event listener to open menu button
    openMenuButton?.addEventListener("click", toggleMenu)
  
    // Add event listener to close menu button
    closeMenuButton?.addEventListener("click", toggleMenu)
  
    mobileItems?.forEach((item) => item.addEventListener("click", toggleMenu))
  </script>

<style>
    header {
      animation: blur-header .3s linear both;
      animation-timeline: scroll();
      animation-range: 0 150px;
    }
  
    @keyframes blur-header {
      0% {
        backdrop-filter: blur(0);
        background-color: transparent;
      }
  
      100% {
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.8);
        padding-bottom: calc(var(--spacing)* 6);/* pb-6 */
      }
    }
  </style>
