---
import menu from "../icons/Menu.svg";
---

<!-- <div class="flex flex-row justify-between items-center font-semibold">
    <h1 class="text-2xl cursor-pointer">Taway</h1>
    <ul class="hidden lg:flex gap-x-10 text-[20px]">
        <li class="cursor-pointer">Home</li>
        <li class="cursor-pointer">Sobre Mi</li>
        <li class="cursor-pointer">Proyectos</li>
        <li class="cursor-pointer">Contáctame</li>
    </ul>

    <button class="lg:hidden">
        <img src={menu.src} width="30px" alt="Icono de menú" />
    </button>
</div> -->

<!-- <nav class="w-[1220px] flex items-center mx-auto justify-between m-10">
    <h1 class="text-lg cursor-pointer">Taway</h1>
    <ul class="hidden lg:flex gap-x-10 text-lg">
        <li class="cursor-pointer">Home</li>
        <li class="cursor-pointer">Sobre Mi</li>
        <li class="cursor-pointer">Proyectos</li>
        <li class="cursor-pointer">Contáctame</li>
    </ul>
</nav> -->


<!-- <nav class="w-[1220px] mx-auto py-[36px]pr-24 pl-24">

    <div class="flex w-full justify-between">
        <h1 class="text-lg cursor-pointer">Taway</h1>
        <ul class="hidden lg:flex gap-x-10 text-lg">
            <li class="cursor-pointer">Home</li>
            <li class="cursor-pointer">Sobre Mi</li>
            <li class="cursor-pointer">Proyectos</li>
            <li class="cursor-pointer">Contáctame</li>
        </ul>
    </div>
</nav> -->


<nav class="lg:py-[36px]">
    <div class="lg:w-[1220px] mx-auto flex justify-between p-5 lg:p-0">
        <h1 class="text-3xl lg:text-lg cursor-pointer uppercase font-extrabold">
            Taway
        </h1>
        <ul class="hidden lg:flex gap-x-10 text-lg font-semibold">
            <li class="cursor-pointer">Home</li>
            <li class="cursor-pointer">Sobre Mi</li>
            <li class="cursor-pointer">Proyectos</li>
            <li class="cursor-pointer">Contáctame</li>
        </ul>

        <button class="lg:hidden">
            <img src={menu.src} width="30px" alt="Icono de menú" />
        </button>
    </div>
</nav>
