---
import menu from "../icons/Menu.svg";
---


<nav class="lg:py-[36px]">
    <div class="lg:w-[1220px] mx-auto flex justify-between p-5 lg:p-0">
        <h1 class="text-3xl lg:text-lg cursor-pointer uppercase font-extrabold">
            Taway
        </h1>
        <ul class="hidden lg:flex gap-x-10 text-lg font-semibold">
            <li class="cursor-pointer">Home</li>
            <li class="cursor-pointer">Sobre Mi</li>
            <li class="cursor-pointer">Proyectos</li>
            <li class="cursor-pointer">Contáctame</li>
        </ul>

        <button class="lg:hidden">
            <img src={menu.src} width="30px" alt="Icono de menú" />
        </button>
    </div>
</nav>
